<%- include('partials/header') %>
<div class="w-full h-screen flex justify-center items-center bg-base-300">
  <div class="bg-base-100">
    <div class="text-5xl">404</div>
    <div>404 - Page Not Found</div>
    <a class="btn btn-link btn-sm rounded-sm">Home</a>
  </div>
</div>
<%- include('partials/footer') %>