<%- include('../../../partials/header') %>
<%- include('../../../components/sidebar') %>
<main >
  <div class="flex justify-end">
    <a href="/admin/users/create"  class="btn btn-sm rounded-sm btn-success">Add User</a>
  </div>
  <div class="mt-5">

    <table id="users_table" class="display" style="width:100%">
      <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Local Church</th>
            <th>Position</th>
            <!-- <th>Start date</th>
            <th>Salary</th> -->
        </tr>
    </thead>
    <tbody>
  
    </tbody>
    </table>
  </div>
</main>
<script src="/public/js/user_index.js"></script>
<%- include('../../../partials/footer') %>